* {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    width: 800px;
    border: solid grey 3px;
    margin-top: 50px;
}

.banner{
    background-color: darkcyan;
    height: 130px;
    margin-bottom: 60px;
}

.user-pic {
    height: 150px;
    margin: 30px 20px 20px 20px;
}

.icon {
    height: 1.5rem;
    margin-right: 10px;
}
h1,h2,h4,p {
    margin: 20px;
}

/* #topdivider {
    height: 50px;
    border: solid 2px black;
}
#cardspacer {
    display: flex;
}

#leftcardspacer {
    flex: 1;
}

#rightcardspacer {
    flex: 1;
}

#card {
    width: 800px;
    border: solid grey 3px;
}

#banner {
    height: 200px;
}
#topbanner {
    background-color:cadetblue;
    height: 120px;
    
}
#bottombanner {
    height: 80px;
}

#user_pic {
}
#location {
    display: flex;
} */